{% if tag | length != 0 %}
{% set title = 'Articles Tagged with \'%s\'' % tag %}
{% else %}
{% set title = 'Archive' %}
{% endif %}
{% include 'header.html' %}

    <div class="main-column column article-body">
      <article>
        <header>
          <h1>{{ title }}</h1>
        </header>
        <div class="blog-archives">
          {% set current_year = '' %}
          {% for article in site.articles_by_date %}
            {% if (tag | length == 0) or (tag in article.tags) %}
              {% set article_year = article.date | date('year') %}
              {% if article_year != current_year %}
                {% set current_year = article_year %}
          <h2 class="year">{{ current_year }}</h2>
              {% endif %}
          <article class="lang-{{ article.language }}">
            <div class="article-info">
              <h1><a href="{{ article.url }}">{{ article.title }}</a></h1>
              {% if article.tags | length != 0 %}
              <div class="tags">
                <i class="fa fa-tags" title="Tags"></i>
                {% for tag in article.tags %}
                <a href="{{ site.url }}tags/{{ tag | safe_url }}/">{{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <time datetime="{{ article.date | date }}">
              <span class="full">{{ article.date | date }}</span>
              <span class="short">{{ article.date | date('month-day') }}</span>
            </time>
          </article>
            {% endif %}
          {% endfor %}
        </div>
      </article>

    </div>

{% include 'footer.html' %}
